* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
  background-color: #c6c6c6;
  gap: 2rem;
}

.customerContainer,
.accountContainer {
  margin: 2rem;
}

.customerForm,
.depositForm,
.withdrawForm,
.reqLoanForm,
.payLoanForm {
  margin: 2rem 0;
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
  border: 2px solid #000;
  background-color: #c6c6c6;
}

label {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  display: inline-block;
}

input,
select {
  padding: 0.4rem;
  width: 300px;
  border: none;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border: 2px solid;
  background-color: #f0d8d8;
}

button {
  padding: 0.6rem 1.6rem;
  font-size: 1.1rem;
  border: none;
  background-color: #478c81;
  color: #fff;
  border-radius: 4px;
}

h2 {
  color: #ff5151;
  margin-bottom: 2rem;
}

h2 span {
  color: #000;
}

h2,
p span {
  font-size: 1.4rem;
}

p span {
  color: red;
  font-weight: 600;
}

@media screen and (max-width: 501px) {
  .customerForm > div,
  .depositForm > div,
  .withdrawForm > div,
  .reqLoanForm > div,
  .payLoanForm > div {
    width: 100% !important;
  }

  input {
    width: 100%;
  }
}
